:root {
  --cyan: #acdbc9;
  --light-green: #d8ebc2;
  --orange: #fdd2b5;
  --pink: #f7a7a6;
  --red: #f48b94;
}

.counter {
  background: var(--orange);
  min-width: 250px;
  height: 80px;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}